.switch-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.monthly {
  display: inline-block;
  padding-left: 0.5rem;
}

.discount {
  margin-left: 0.2rem;
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
  border-radius: 20px;
  font-weight: 800;
  font-size: 0.6rem;
  padding: 0.1rem 0.3rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0 0.5rem;
  justify-self: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(223, 50%, 87%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(174, 86%, 45%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(174, 86%, 45%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  .monthly {
    padding-left: 5rem;
  }
}
